<h1>Editar Tarefa</h1>

<%= render 'shared/errors', obj: @task %>

<%= form_with(model: @task, local: true, url: project_task_path(@project, @task), method: 'PATCH') do |form| %>
  <%= form.label :nome, 'Nome:' %>
  <%= form.text_field :nome %><br />
  <%= form.label :status_id, 'Status:' %>
  <%= form.collection_select(:status_id, Status.order('nome_status'), :id, :nome_status, {prompt: "-- Status --"}) %><br />
  <%= form.label :descricao, 'Descrição:' %>
  <%= form.text_area :descricao %><br />
  <%= form.label :commit_hash, 'Hash Commit:' %>
  <%= form.text_field :commit_hash %><br />
  <%= form.submit %>
<% end %>