<div class="h-100 pt-5 pb-2 text-white bg-transparent">
  <%= render 'layouts/message' %>
  <p style="padding-bottom: 0px;font-family: Roboto;font-size: 45px;font-weight: 300;">
    <span><%= @project.nome %></span>
    <span><%= link_to image_tag("GitHub-Mark-Light-32px.png"), @project.github_url %></span>
  </p>

  <p style="padding-bottom: 0px;font-size: 15px;font-weight: 300;"><%= @project.descricao %></p>
  
  <div style="text-align: right">
    <%= link_to 'Criar Nova Tarefa', new_project_task_path(@project), class: 'btn btn-dark border border-white text-right' %>
  </div>
</div>

<hr>
<%= render @project.task %>
