<%= render 'layouts/message' %>
<h1>Projeto</h1>

<h3><%= @project.nome %> - Status: <%= @project.status.nome_status %>
<p>
  <%= link_to @project.github_url, @project.github_url %>
</p>
<%= @project.descricao %>

<br />
<%= link_to 'Tarefas', project_tasks_path(@project)  %>
<br />
<%= link_to 'Criar Nova Tarefa', new_project_task_path(@project) %>