<h1>Editar Post</h1>
<%= render 'shared/errors', obj: @post %>

<%= form_with(model: @post, local: true, url: project_task_post_path(@project, @task, @post), method: 'PATCH') do |form| %>
  <%= form.label :titulo, 'Título' %><br />
  <%= form.text_field :titulo %><br /><br />
  <%= form.text_area :texto %><br />
  <%= form.submit %>
<% end %>